<div class="Container">
    <div class="Div">
      <div>
        <p class="span">Login Form</p>
      </div>
      <div>
        <p class="font">Login to access your Account </p>
      </div>
      <div class="InnerDiv">
        <form>
   
          <div>
            <mat-form-field appearance="outline" class="email ">
              <input matInput placeholder="Login" formControlName="email" >
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="password">
              <input matInput placeholder="Password" formControlName="password">
            </mat-form-field>
          </div>
          <div class="toggle">
            <mat-slide-toggle>Remember me</mat-slide-toggle>
          </div>
          <div class="matButton">
            <button class="mat-raised-button">
              <img style="transform: rotate(90deg);" src="../../../assets/input_circle_FILL0_wght400_GRAD0_opsz48.svg" alt="Register"> Register
            </button> 
          </div>
          <div class="fp">Forgot Password?</div>
          <div class="option">
            <p>Don't have account?</p>
            <div class="basic" routerLink="/signup">Sign up!</div>
          </div>
        </form>
      </div>
    </div>
  </div>

