<div class="Container">
    <div class="Div">
      <div>
        <p class="span">Sign in</p>
      </div>
      <div>
        <p class="font"> Create your Account </p>
      </div>
      <div class="InnerDiv">
        <form>
          <div>
            <mat-form-field appearance="outline" class="email">
              <input matInput placeholder="Name" formControlName="Name">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="email">
              <input matInput placeholder="Email addresh" formControlName="email">
             
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="password">
              <input matInput placeholder="Password" formControlName="password">
            </mat-form-field>
          </div>
          <div class="toggle">
            <mat-slide-toggle>Remember me</mat-slide-toggle>
          </div>
          <div class="matButton">
            <button class="mat-raised-button">
              <img src="../../../assets/add_FILL0_wght400_GRAD0_opsz48.svg" alt="Register"> Register
            </button> 
          </div>
          <div class="option">
            <p>Have an account?</p>
            <div class="basic">Sign up!</div>
          </div>
        </form>
      </div>
    </div>
  </div>

