<div class="header">
    <mat-toolbar class="header-inner">
            <div class="search">
               
                <input class="search-input" type="text"  placeholder="Search...">
                <img src="../../../assets/Search-icon.svg">
            </div>
        
            <div class="icons">
                <img  class="iconImage"  src="../../../assets/add_alert_FILL0_wght400_GRAD0_opsz48.svg" style="transform: rotate(30deg);">
                <span  ><img class="iconImage" src="../../../assets/account_circle_FILL0_wght400_GRAD0_opsz48.svg"></span>    
            </div>
    </mat-toolbar>
    <div>
        <app-doctors></app-doctors>
    </div>
</div>
