<div >
    <div class="notescontainer">
        <mat-card class="card" >
            <mat-card-title class="notetitle">
                <div class="input-title"></div>
                <div class="button">
                    <div class="pinbutton">
                        <img src="../../../assets/360_F_260040863_fYxB1SnrzgJ9AOkcT0hoe7IEFtsPiHAD.jpg" alt="pin icon" width="300px" title="Pin">
                    </div>
                    <div class="details">
                        <h1>Dr. Sophi</h1>
                        <p>gynocologist</p>
                    </div>
                    <div>
                      
                    </div>
                </div>
            </mat-card-title>
            <mat-card-content class="notedesc">
                <div class="input-desc"></div>
            </mat-card-content>
            <div class="icons">
                
            </div>
        </mat-card>
    </div>
</div>
